.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    ///background-color: blanchedalmond;
    padding: 15px 0;
    border-radius: 30px;
    box-shadow: 0px 3px 10px 0px #e5e5e5;

    .leftsection{
        display: flex;
        width: 25%;
        margin-left: 20px;
        justify-content: space-between;
        align-items: center;

        @media (max-width:1193px) {
            width: 30%;
        }

        @media (max-width:992px) {
            .navbarLogo{
                display: none;
            }
        }

        @media (max-width:725px) {
            width: 35%;
        }

        @media (max-width:571px) {
            width: 40%;
        }
        @media (max-width:530px) {
            display: none;
        }

        .navbarMenu{
            width: 200px;
            display: flex;
            justify-content: space-between;

            a{
                white-space: pre;
                @media (max-width:671px) {
                    width: 35px;
                    margin-left:-13px    
                }


                cursor: pointer;
                transition: all .4s ease;

                &:hover{
                    color: #5c5c5c;
                }
            }
        }
    }

    .MenuMobile{
        display: none;
        @media (max-width:530px) {
            display: block;
        }
        svg{
            fill: #454545;
            width: 50px;
        }
    }

    .rightsection{
        display: flex;
        width: 20%;
        margin-right: 20px;
        justify-content: space-between;
        align-items: center;

        @media (max-width:992px) {
            width: 30%;
        }
        @media (max-width:571px) {
            width: 40%;
        }
        @media (max-width:435px) {
            justify-content: end;
        }
        

        .navbarLogin{
            background-color: #6f6f6f;
            color: white;
            width: 60px;
            text-align: center;
            padding: 8px 10px;
            border-radius: 16px;
            cursor: pointer;
            transition: all .5s ease-in-out;

            &:hover{
                opacity: .8;
            }
        }

        .navbarSocial{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 150px;

            @media (max-width:435px) {
                display: none;    
            }

            a{
                cursor: pointer;
                svg{
                    width: 20px;
                    height: fit-content;
                    transition: all .4s ease;

                    &:hover{
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}
.header{
    display: flex;
    direction: ltr;

    .textheader{
        @media (max-width:454px) {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1{
            color: #5c5c5c;

            @media (max-width:330px) {
                width: 90%;
            }

            span{
                color: #d994ee;;
            }
        }
        p{
            width: 340px;
            color: #6f6f6f;

            @media (max-width:330px) {
                width: 270px;
            }
        }
    }

    .imageheader{
        img{
           width: 640px;

           @media (max-width:452px) {
               width: 480px;
           }

           @media (max-width:325px) {
               width: 430px;
           }
        }   
    }
}
.InfoCard{

    h2{
        text-align: center;
        color: #454545;

        span{
            color: #6271f0;
        }

    }
    & > p{
        text-align: center;
        width: 35%;
        margin: auto;
    }
    .userInfo{
        display: flex;
        direction: ltr;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
        border-radius: 16px;
        padding: 10px;
        margin-top: 60px;
        box-shadow: 0px 5px 7px 7px #e1e1e1;

        @media (max-width:681px) {
            flex-direction: column-reverse;
        }
    

        .user{
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width:639px) {
                width: 45%;
            }

            @media (max-width:570px) {
                width: 50%;
            }

            .userColor{
                display: flex;
                width: 100%;
                margin-bottom: 25px;
                justify-content: space-around;

                p{
                    cursor: pointer;
                    background: #3a3a3a;
                    color: white;
                    padding: 7px 16px;
                    border-radius: 10px;
                    border: 1px solid black;
                    transition: all .4s ease;

                    &:hover{
                        background-color: #4a646d;
                    }
                    
                }
            }
            .AvatarIcon{
                svg{
                    width: 200px;  
                }

                &.pink{
                    svg{
                        fill: palevioletred;
                    }
                }

                &.red{
                    svg{
                        fill: red;
                    }
                }
            }
        }
        .Info{
            width: 45%;
            text-align: left;

            @media (max-width:681px) {
                width:60%
            }

            h2{
                text-align: left;
            }
            
        }
    }

}
.descUser{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 50px auto;

    @media (max-width:1075px) {
        width: 90%;
    }

    @media (max-width:920px) {
        flex-direction: column-reverse;
    }
    @media (max-width:500px) {
        width: 100%;
    }

    .Descs{
        width: 515px;
        box-shadow: 0px 1px 19px 9px #e3e3e3;
        border-radius: 16px;
        padding: 20px 10px;

        @media (max-width:1215px) {
            width: 455px;
        }
        @media (max-width:1143px) {
            width: 48%;
        }
        @media (max-width:1075px) {
            width: 45%;
        }
        @media (max-width:920px) {
            margin-top: 30px;
            width: 70%;
        }

        .DescsItem{
            margin-bottom: 20px;
            span{
                background: #fdc228;
                padding: 5px 10px;
                border-radius: 10px;
                font-size: 10px;
            }
            .title{
                color: black;
                font-weight: bold;
                font-size: 20px;
                margin: 0;
                margin-top: 5px;
            }
            .desc{
                font-size: 10px;
                color: #6f6f6f;
            }
        }
    }

    .userImage{
        img{
            width: 400px;
            height: 400px;
            box-shadow: 0 5px 10px 9px #e6e6e6;
            border-radius: 16px;

            @media (max-width:1075px) {
                width: 90%;
            }

            @media (max-width:900px) {
                margin-left: 20px;
            }
            @media (max-width:600px) {
                width: 200px;
                height: 200px;
            }
            @media (max-width:500px) {
                margin-left: 0;
            }
        }
    }
}

.userPost{
        margin-top: 200px;
        position: relative;
    h2{
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
        color: #393939;
    }

    .Posts{
        display: grid;
        grid-template-columns: repeat(3,6fr);
        justify-items: center;
        grid-row-gap: 40px;
        width: 80%;
        margin: auto;

        @media (max-width:1175px) {
            width: 90%;
        }
        @media (max-width:1040px) {
            width: 100%;
        }
        @media (max-width:940px) {
            grid-template-columns: repeat(2 ,3fr);
        }
        @media (max-width:500px) {
            grid-template-columns: repeat(1 , 6fr);
        }

        .Item{
                box-shadow: 1px 4px 17px 2px #e2e2e2;
                width: 300px;
                height: 300px;
                border-radius: 20px;

                @media (max-width:635px) {
                    width: 230px;
                    height: 300px;    
                }

            .ItemImage{
                img{
                    width: 300px;
                    height: 200px;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    border-bottom-left-radius: 40px;
                    border-bottom-right-radius: 40px;

                    @media (max-width:635px) {
                        width: 230px;
                        height: 170px;
                    }
                }
            }

            .ItemInfo{
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .ItemInfoName{
                    display: flex;
                    justify-content: space-between;
                    width: 50%;
                    padding: 0 10px;

                    p{
                        color:#3a3a3a;
                    }
                }
                .ItemInfoIcon{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 30%;

                    svg:first-child{
                        width: 26px;
                        transition: all .4s ease;
                        cursor: not-allowed;;

                        &:hover{
                            path{
                                fill:#692164 ;
                            }
                        }
                    }

                    /*svg{
                        cursor: pointer;
                        transition: all .4s ease ;

                        &:hover{
                            path{
                               fill: #0061a0;
                            }   
                        }
                    }*/
                    .VisitProduct{

                      .VisitIcon{
                          display: flex;
                          svg{
                              cursor: pointer;
                              transition: all .4s ease;
                            &:hover{
                              path{
                                  fill: #0061a0;
                              }
                            }
                          }
                      }  
                      .VisitBox{
                        display: none;
                        visibility: hidden;
                        max-height: 0;
                        transition: all .5s ease;
                        opacity: 0;

                        .closeIcon{
                            position: absolute;
                            top: 35px;
                            left: 55px;
                            background-color:#a6a6a6 ;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            border-radius: 50%;
                            cursor: pointer !important;

                            svg{
                                fill: white;
                                cursor: pointer !important;

                            }
                        }

                        .product{
                            background-color: white;
                            position: absolute;
                            width: 60%;
                            height: 600px;
                            left: 285px;
                            top: 54px;
                            border: 1px solid #b104e4;
                            padding: 10px;
                            //display: flex;
                            .productItem{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 55%;
                                height: fit-content;
                                margin-bottom: 70px;
                                margin-top: 40px;
                                padding: 0 20px;
                                

                                .productInfo{
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: 35%;

                                    .priceproduct{
                                        
                                        .title{
                                            font-size: 30px;
                                            font-weight: bold;
                                        }
                                        .prise{
                                            margin-left: 12px;
                                        }
                                    }
                                    .nameproduct{
                                        //color: royalblue;
                                        .title{
                                            font-size: 30px;
                                            font-weight: bold;
                                        }
                                        .name{
                                            margin-left: 15px;
                                        }
                                    }
                                }

                                .imgproduct{
                                    img{
                                        width: 200px;
                                        box-shadow: 0px 0px 5px 6px #e2e2e2;
                                    }
                                }
                            }

                            .AddProduct{
                                display: flex;
                                align-items: baseline;
                                justify-content: space-between;
                                padding: 10px 20px;

                                .BuyIcon{
                                    svg{
                                        width: 50px;
                                    }

                                    & > div{
                                        position: absolute;
                                        width: 20px;
                                        height: 20px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 50%;
                                        background-color: #cbc0d6;
                                    }
                                }

                                .AddProductItem{
                                    .title{
                                        font-size: 45px;
                                        font-weight: bold;
                                    }
                                    .counter{
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-around;
                                        width: 70%;

                                        .increas{
                                            width: 100px;
                                            height: 40px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            cursor: pointer;
                                            background-color: #7e7e7e;
                                            color: white;

                                            &:hover{
                                                opacity: .8;
                                            }
                                        }
                                        .decreas{
                                            width: 100px;
                                            height: 40px;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            cursor: pointer;
                                            color: white;
                                            background-color: #7e7e7e;

                                            &:hover{
                                                opacity: .8;
                                            }
                                        }
                                    }
                                }
                            }
                            
                        }
                        

                        &.active{
                            display: block;
                            visibility: visible;
                            max-height: 1000px;
                            background: #0000008c;
                            position: absolute;
                            opacity: 1;
                            width: 100%;
                            left: 0;
                            top: 0px;
                            height: 780px;
                        }
                      }
                    }
                }
            }
        }
    }
}

.FAQ{
    margin-top: 90px;

    h3{
        font-size: 40px;
        padding: 0 60px;
    }

    .faqBox{

        & > div{
            //background-color: blanchedalmond;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 20px;
            margin-bottom: 15px;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            border-radius: 15px;
            height: 63px;
            box-shadow: 0px 0px 11px 3px #eaeaea;

            .QandAItem{
                position: relative;
                width: 90%;
                .QItem{
                    padding: 5px 0;
                    position: relative;
                    z-index: 999;
                    background-color: white;
                    ////overflow:scroll;
                    white-space: pre;
                    @media (max-width:475px) {
                        width: 90%;
                        overflow:scroll;
                    }

                    &.openQ{
                        color: #694d9f;
                        cursor: pointer;
                    }
                }

                .AItem{
                    color:#3a3a3a;
                    position:relative;
                    white-space: pre;
                    top: -35px;
                    transition: all .5s ease;
                    /////overflow: scroll;
                    white-space: pre;

                    @media (max-width:475px) {
                        width: 90%;
                        overflow: scroll;

                    }

                    &.open{
                        top: -10px;
                    }
                }
            }

            svg{
                width: 30px;
                transform: rotate(180deg);
                fill: #636363;
                cursor: pointer;
            }
        }
    }
}
.Footer{
    width: 80%;
    margin: 90px auto;
    box-shadow: 5px 5px 5px 10px #e6e6e6;
    width: 90%;
    margin: 90px auto;
    border-radius: 20px;
    padding: 10px 20px;

    .TopFooter{
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        padding: 10px;
        align-items: baseline;

        @media (max-width:840px) {
            justify-items: center;
        }

        @media (max-width:600px) {
            grid-template-columns: repeat(3 ,1fr);
        }
        @media (max-width:460px) {
            grid-template-columns: repeat(1 ,1fr);
        }

        .LogoSocial{
           & > p{
                font-size: 25px;
                font-weight: bold;
            }
            .Logo{
                & > div{
                    display: flex;
                    justify-content: space-around;
                    width: 40%;

                    svg{
                        width:25px;
                        transition: all .4s ease;
                        cursor: pointer;

                        &:hover{
                            transform: rotate(360deg);
                        }
                    }
                }
            }
        }
        .About{
            p{
                font-size: 20px;
                font-weight: bold;
            }
            & > div{

                display: flex;
                flex-direction: column;

                a{
                    margin-bottom: 10px;
                    cursor: pointer;

                    &:hover{
                        opacity: .9;
                    }
                }
            }
        }
        .Utility{
            p{
                font-size: 20px;
                font-weight: bold;
            }
            & > div{
                display: flex;
                flex-direction: column;
                a{
                    margin-bottom: 10px;
                    cursor: pointer;

                    &:hover{
                        opacity: .9;
                    }
                }
            }
        }
        .shop{
            @media (max-width:460px) {
                text-align: center;
            }
           .shopTitle{
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 0;
            }

            .shopText{
                font-size: 11px;
            }

            .shopForm{
                display: flex;
                justify-content: space-around;
                margin-top: 40px;

                @media (max-width:840px) {
                    width: 235px;
                }

                & > input {
                    padding: 15px 20px;
                    border-radius: 10px;
                    border: 1px solid black;
                    width: 120px;

                    @media (max-width:840px) {
                        padding: 15px 15px;
                    }
                }

                & > button{
                    padding: 10px 25px;
                    border-radius: 15px;
                    border: 1px solid;
                    cursor: pointer;
                    transition: all .4s ease;

                    @media (max-width:840px) {
                        padding: 10px 15px;
                    }

                    &:hover{
                        background-color: #ced4ff;
                    }
                }
            }
        }
    }

    .LicenceText{
        margin-top: 30px;
        font-size: 15px;
        word-spacing: 15px;
    }
}
